* { margin: 0; padding: 0;}

html {
	background: #e6e6e6;
	padding: 10px;
}

body {
	max-width: 960px;
	min-width: 240px;
	margin: 30px auto;
	font: 16px/24px 'Helvetica Neue', Arial, sans-serif;
	color: #6f5f3f;
	text-shadow: 0 1px 0 #fff;
}

h1, h2 {
	text-align: center;
	line-height: 1.1;
	font-family: Georgia;
}

#main {
	padding: 30px 10px;
	
}

#main > header {
	padding: 30px 0;
	border-bottom: 3px double #d3cab7;
	border-top: 3px double #d3cab7;
	margin-bottom: 30px;
	position: relative;
}

	#main > header:before,
	#main > header:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;		
	}
	
	#main > header:after {
		border-bottom: 3px double #fff;
		bottom: -4px;
	}
	
	#main > header:before {
		border-top: 3px double #fff;
		top: -2px;
	}

	#main > header h1 {
		font-size: 4em;
	}
	
		#main > header h1:before,
		#main > header h1:after {
			content: "â‹";
			opacity: .2;
		}

#main > footer {
	text-align: center;
	margin-top: 2em;
}

/* One class to rule all paperstacks */
.paperstack {
	position: relative;
	background: #f4f2ee;
	border: 1px solid #deddd9;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.1);
	
}
	
	.paperstack:before,
	.paperstack:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: -0.5%;
		top: 0;
		z-index: -1;
		background: #f4f2ee;
		border: 1px solid #deddd9;
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.05);
	}
	
	.paperstack:before {
		-webkit-transform: rotate(2deg);
		
	}
	
	.paperstack:after {
		-webkit-transform: rotate(4deg);
		z-index: -2;
		left: 0.7%;
		//width: 98%;
	}